@import "bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

img {
  object-fit: fill;
  width: 15rem;
  height: 15rem;
}
